{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dream Signup - Start Bootstrap Template</title>
        <!-- Favicon-->

    </head>
    <body>
        <h2>Sign Up To DREAM</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Signup</button>
        </form>
    </body>
</html>